.App-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #00DF82;
    padding: 10px 0;
  }
  
  .circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #03624C;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }