@import '@fortawesome/fontawesome-free/css/all.css';

html, body {
  overscroll-behavior-x: none; 
  overflow-x: hidden;          
  max-width: 100%;             
  position: relative;          
}

.App {
  text-align: center;
  overflow-x: hidden;   
  touch-action: pan-y;         
  -webkit-overflow-scrolling: touch; 

}

.home {
  padding: 20px;
  flex: 1;
}

.promo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15d144;
  padding: 20px;
}

.App-footer {
  margin-top: auto;
}